* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 14px;
}

div {
  width: 100%;
  margin: 20px;
}

button {
  background: #7159c1;
  color: #fff;
  border: 0;
  padding: 10px 15px;
  cursor: pointer;
  margin-top: 15px;
  font-weight: bold;
  font-size: 14px;
}

.rectangle {
  display: inline-block;
  width: 450px;
  height: 100px;
}

label {
  color:black;
  padding: 8px 15px;
  margin-top: 15px;
  margin-right: 5px;
  font-weight: bold;
  font-size: 20px;
}
